html {
    scroll-behavior: smoothly;
}

body {
    text-align: center;
    
    background-image: linear-gradient(lavender, lightcyan, lavenderblush, floralwhite, mintcream)
}

#strt {
    color: white;
    font-weight: bolder;
    background-image: url(s.jpg);
    height: 250px;
    width: 100%;
    margin-top: 20;
}

mark {
    background-color: darkblue;
    color: white;
}

.lintop {
    width: 150px;
    height: 6px;
    background-color: darkblue;
    margin: 8px auto;
}

.fuline {
    width: 100%;
    height: 6px;
    background-color: darkblue;
    margin: 8px auto;
}

p {
    font-size: 28px;
    font-family: 'Lobster', cursive;
    font-weight: bold;
}

.hp {
    text-align: center;
    color: royalblue;
    font-size: 35px;
    font-family: sans-serif;
}
#newstyl {
  text-align: center;
    color: red;
    font-size: 40px;
    font-family: serif;  
}

.img responsive {
    width: 250px;
    height: 250px;
}

.all {
    border-radius: 50%;
}

.para {
    text-align: center;
    font-size: 27px;
    padding: 20px;
    text-align: center;
    max-width: 700px;
    margin: 25px auto;
    line-height: 1.3;
    font-family: 'Abril Fatface', cursive;
    font-family: 'Kanit', sans-serif;
    font-weight: bold;
}

.absp {
    width: 600px;
}
